<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{mg/layout/mgLayout}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="UTF-8">
<title>VIEW</title>
<style type="text/css"> 

.comment_List {
	list-style : none;
	
}
.comment_info {
	height : 150px;
	
}




</style>
<link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
	<script src="/js/jquery.js"></script>
	<script src="/js/popper.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">BOARD</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarColor02">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/">Home
				</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" id="dropdown"
					data-toggle="dropdown">MEMBER</a>
					<div class="dropdown-menu" aria-labelledby="dropdown">
						<a class="dropdown-item" href="#">LOGIN</a> <a
							class="dropdown-item" href="#">LOGOUT</a> <a
							class="dropdown-item" href="#">SIGN UP</a>
					</div></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search">
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<br>

	<div style="width: 70%; height: 100%; margin: auto;">
		<legend style="text-align: left;">VIEW</legend>
		<br>
		<div class="card mb-3">
			<h3 class="card-header" th:text="${result.title}"></h3>
			<div style="height: 150px" class="card-body">
				<p class="card-text" th:text="${result.content}"></p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item" th:text="${result.writer}"></li>

			</ul>
			<div class="card-footer text-muted"
				th:text="${#dates.format(result.board_date,'yyyy-MM-dd')}"></div>
		</div>

		<br>
		<div style="text-align: center">
			<input type="button" class="btn btn-primary" value="RETURN"
				onclick="location.href='/'"> <input type="button"
				class="btn btn-primary" value="MODIFY"
				th:onclick="'window.location.href = \'' + @{/{id}/update(id=${result.id})} + '\''">
			<input type="button" class="btn btn-primary" value="DELETE"
				th:onclick="'window.location.href = \'' + @{/{id}/delete.do(id=${result.id})} + '\''">
		</div>
		<br>
		<legend style="text-align: left;">COMMENT</legend>
		<br>
		<form id="contentForm" name="contentForm" method="post">
			<div style="width: 100%; border-top: 1px solid gold;">
				<br>
				<textarea class="form-control" id="commentContent"
					name="commentContent" rows="8" cols="50"></textarea>
				<input type="hidden" name="bno" th:value="${result.id}">
			</div>
			<br>
			<div style="text-align: center">
				<input type="button" class="btn btn-primary" value="SUBMIT"
					th:attr="onclick=|javascript:commentInsert();|">
			</div>
		</form>
		<br>
		
		<legend style="text-align: left;">COMMENT LIST</legend>
		<hr>
		<div id="commentDiv"></div>
	</div>
	<div class="block_space" style="width: 100%; height: 150px; margin: auto;"> 
	</div>



	<th:block layout:fragment="script">
		<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript">
		
		$(document).ready(function(){
			showCommentList();
		});
		
		function showCommentList(){
			
			var data = "bno=" + [[${result.id}]];
			console.log(data);
			$.ajax({
				type : "POST",
				dataType : 'json',
				url :	'[[@{/showCommentList}]]',
				data : data,
				success : function(data) {
					
						var str = "";

						str += "<ul>";

						var result = data.resultList;

						for (var i = 0; i < result.length; i++) {
							var date = new Date(result[i].commentDate);
							var dateFormat = getFormatDate(date);
							var bno = result[i].bno;
							var cno = result[i].cno;
							var comment = result[i].commentContent;
							
							
							str += "<li class='comment_List'>" 
									+ "<div class='comment_info' id='cno" + result[i].cno +"'>" 
									+ "<div class='comment_date'>"
									+ "<span class='commentDate'>" 
									+ dateFormat
									+ "</span>"
									+ "</div>"
									+ "<div class='comment_control'>"
									+ "<a href='javascript:void(0)' onclick=\"editForm('"
									+ bno	+ "','"
									+ cno + "','"
									+ comment + "'"
									+ ");\" > 수정 | </a>"
									+ "<a href='javascript:void(0)' onclick=\"commentDelete('"
									+ bno	+ "','"
									+ cno	+ "'"
									+ ");\" >삭제</a>"
									+ "</div>"
									+ "<div>"
									+ "<p>"
									+ result[i].commentContent
									+ "</p>"
									+ "</div>"
									+ "</div>"
									+ "<hr>"
									+"</li>"
						}
						str += "</ul>";

						$('#commentDiv').html(str);
						$('#commentContent').val("");
						
					}	
			});
		}
		
		function editForm(bno, cno, content) {
			console.log(bno + " " +cno + " " + content);
			var str = "";
			str = '<textarea id="updateText" rows="8" cols="50" >'
			+ content 
			+'</textarea>'
			+ '<a href="javascript:void(0)" onclick="commentUpdate('
			+ bno	+ ","
			+ cno 
			+ ');" > 수정 | </a>'
			+ '<a href="javascript:void(0)" onclick="showCommentList();" >취소</a>'
			+ '<hr>';
			
			$('#cno'+cno).replaceWith(str);
			$('#cno'+cno + '#updateText').focus();
		}
		
			function commentInsert() {

				var data = $('#contentForm').serialize();
				console.log(data);
				$.ajax({
							type : "POST",
							dataType : 'json',
							url : '[[@{/new}]]',
							data : data,
							success : function(data, status, xhr) {
								console.log(data);
								if(data.flag == "success"){
								showCommentList();
								}
							},
							error : function(jqXHR, textStatus, errorThrown) {
								alert(jqXHR.responseText);
							}
						});
			}

			function commentDelete(bno, cno) {

				var data ="bno="+ bno + '&cno=' + cno;
				console.log(bno,cno);
				
				$.ajax({
							type : "DELETE",
							dataType : 'json',
							url : '[[@{/delete}]]',
							data : data,
							success : function(data, status, xhr) {
								console.log(data);
								if (data.flag === "success") {
									showCommentList();
								}
							},
							error : function(jqXHR, textStatus, errorThrown) {
								alert(jqXHR.responseText);
							}
						});
			}

			function commentUpdate(bno, cno) {
					
									var content = $('#updateText').val();
									var data = "commentContent="
											+ content +"&bno=" + bno + "&cno="
											+ cno;
									console.log(data);

									$.ajax({
												type : "POST",
												dataType : 'json',
												url : '[[@{/update}]]',
												data : data,
												success : function(data,
														status, xhr) {
													console.log(data);
													if (data.flag === "success") {
														showCommentList();

													}
												},
												error : function(jqXHR,
														textStatus, errorThrown) {
													alert(jqXHR.responseText);
												}
											});
			}

			function getFormatDate(date) {
				var year = date.getFullYear();
				var month = (1 + date.getMonth());
				month = month >= 10 ? month : '0' + month;
				var day = date.getDate();
				day = day >= 10 ? day : '0' + day;
				return year + '-' + month + '-' + day;
			}
		</script>
	</th:block>

</body>
</html>