<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
body{
	margin:100px;
	align:center;
}
h2{
	margin-right:100px;
	text-align:center;
}
</style>
</head>
<body>
<h2>수정</h2>			
        <form style="width:70%; height:100%; margin:auto;" name="update" method="post" th:action="@{'/'+${result.id}+'/update.do'}">
        <div>제목<input name="title" id="title" th:value="${result.title}" size="100" ></div><br>
        <div>내용<textarea name="content" id="content" rows="8" cols="100" th:text="${result.content}" >${result.content}</textarea></div><br>
        <div>이름<input name="writer" id="writer" th:value="${result.writer}"></div>
        <div style="width:650px; text-align:center; margin-left:90px;">
        	<input type="button"  value="이전" th:onclick="'window.location.href = \'' + @{/{id}/view(id=${result.id})} + '\''">
            <input type="submit" value="확인" >
        </div>
    	</form>

    <script type="text/javascript">

    </script>    	

</body>
</html>