<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
body{
	margin:100px;
	align:center;
}
h2{
	margin-right:100px;
	text-align:center;
}
</style>

</head>
<body>
<h2>글 등록</h2>
        <form style="width:70%; height:100%; margin:auto;" name="write" method="post" th:action="@{/insert.do}">
        <div>제목<input name="title" id="title" size="100" placeholder="제목 입력" >
        </div><br>
        <div>내용<textarea name="content" id="content" rows="8" cols="100" placeholder="글 내용 입력"></textarea></div><br>
        <div>이름<input name="writer" id="writer" placeholder="이름 입력"></div>
        <div style="width:650px; text-align:center; margin-left:90px">
        	<input type="button"  value="목록" onClick="location.href='/'">
            <input type="submit" value="확인" >
        </div>
    	</form>
    
    <script type="text/javascript">
    </script>
</body>
</html>